footer {
    color: black;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
