section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

button.search {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    margin-left: 780px;
    transition: opacity 0.2s;
}

button.search:hover {
    opacity: 0.9;
}
